body{
  margin:0px;
  font-family: "roboto", sans-serif;
  display:flex;
  justify-content: center;
} 
main{
  margin:0px;
}

* {
  box-sizing: border-box;
  object-fit: cover;
}

#container{
  max-width: 1400px;
width:100%;
}


h1{
    text-align: center;
    font-weight:100;
    font-size: 30px;
    margin:0px;
    margin-top: 10px;
}


header{
  font-family: 'Shrikhand';
}

.header_logo{
  background-color:white;
  
}

/*-----------filtre recherche----------*/

  .city-location{
    font-weight: 800;
    border: none;
    background: inherit;
    text-align: center;
    background-color: #eaeaea;
  }

  .location{
    height: 3rem;
    background:#eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*----------First section(booking)--------*/
  .booking{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background: #f6f6f6;
      margin: 0px;
      padding:1.5rem;
  }

  .booking_title{
    text-align: center;
    font-size: 22px;
  }

  .introduction{
    display:flex;
    text-align: center;
  }

  .discover{
  font-size:18px;
  text-align: center;
  font-weight: 40;
  padding-bottom: 2rem;
  margin-top: 0.5rem;
  }
  
  .boutton{
  border-radius: 50px;
  border: none;
  height: 50px;
  background: linear-gradient(#9356DC, #FF79DA);
   box-shadow: 0 2px 10px #868686; ;
  color:white;
  width: 60%;
  margin-top: 0.5rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
  }

  .boutton:hover::after {
    opacity: 1;

  }

  .boutton::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
    background-color:#e585d8;
    box-shadow: 7px 7px 10px 7px #0000004b;
    border-radius: 50px;
 }

  /*section----option*/
  .bouton_like{
  font-size: 30px;
  position: absolute;
  right: 36px;
  top: 20%;
  transform: translateY(-80%);
  }


#bouton_like  {
  -webkit-text-fill-color: #f6f6f6;
}

.bouton_like {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 150%;
  cursor: pointer;
  
}

/* */
.bouton_like:hover {
  animation: color_fill 1.5s ease-out 1 forwards;
}

@keyframes color_fill {
  0% {
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    -webkit-text-stroke: unset;
  }
  100% {
    background: linear-gradient(0deg, #ff79da, #9356dc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    -webkit-text-stroke: unset;
  }
}

  .option_title{

    margin-left:2rem;
  }

.number{
  color: #fff;
  background-color: #9356dc;
  border-radius: 50px;
  width: 27px;
  height: 27px;
  text-align: center;
  padding-top: 5px;
  margin-left: -10px;
}

.icon{
  padding-left:2rem;
  color:grey;
}

.icon:hover{
  color:#9356DC;
}

.fonctionnement_wrapper{
  margin:20px;
  padding-bottom: 1rem;
}

h2{
   margin-top: 2.5rem;
}

.grand_titre{
  font-size: 25px;
  text-align: left;
  margin-left: 20px;
  margin-top: 40px;
}

/*------conteneur restos------*/

.palette, .note{
  position:relative;
}

  .restos-cards__wrapper {
    display: flex;
    flex-direction: column;
    background-color:#f6f6f6;
}

.restos {
    background-color: rgb(253, 250, 250);
    border-radius: 20px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 20px;
}

.restos .restos__img {
  border-radius: 1rem 1rem 0 0;
    width: 100%;
    max-width: 100%;
    height: 200px;
}

.restos__text {
  font-size: 18px;
  margin-left: 12px;

}

.lieux{
  font-size: 17px;
  margin-left: 13px;
  padding-bottom: 1rem;
}


.functioning{
display: flex;
flex-direction: column;
align-items: center;
margin: 20px;
}


.background{
  display: flex;
  background-color:#f6f6f6;
  width : 100%;
  border-radius: 1rem;
  margin: 0 0 2rem 0;
  height: 6rem;
  margin: 0 0 2rem 0;
}

.choisir{
display: flex;
align-items: center;
}

.restos-cards__wrapper a{
  text-decoration: none;
  color: black;
}

.footer-title{
  margin-top: 0;
 color: white;
 margin-left: 1rem;
 font-family: "Shrikhand"
}

footer{
width:100%;
}


.pied2page{
background-color: #333333;
margin: 0;
width:100%;
padding: 20px;
}

footer a{
color: white;
text-decoration: none;
}

.décaler{
margin-left:1rem;
}

.décaler,.mention, .contact{
margin-bottom:0.5rem;
color:white;
margin-left: 1rem;
}

.description_description{
  position:relative;
}

/*ANIMATIONS ANIMATION ANIMATIONS*/
.options{
  display: flex;
  background-color: #f6f6f6;
  width: 100%;
  height: 4rem;
  margin-bottom: 2rem;
  align-items: center;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  transition: all 50ms;
  cursor: pointer;
}

.options:hover{
  background-color:#e6c7ed;
  transition-delay: 50ms;
}

.superposé{
color: #008766;
background-color: #99E2D0;
position: absolute;
padding: .3125rem .625rem;
right:20px;
top:20px;
margin-right: 2rem;
}

.superposé2{
  color: #008766;
  background-color: #99E2D0;
  position: absolute;
  padding: .3125rem .625rem;
  right:20px;
  top:20px;
  margin-right: 2rem;
  }

  .loader{
    width: 100%;
    height: 100%;
    position: fixed;
    flex-direction: column;
    z-index:1000;
    background-color: whitesmoke;
    opacity:1;
    animation: background-fixed 2s 1;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes background-fixed {
    0% {
      visibility: visible;
    }
    100% {
      visibility: hidden;
    }
  }
  /* KEYFRAMES LOADER*/
 
.loader_cercle{
  width: 90px;
  height: 90px;
  border: #FF79DA solid 5px;
  border-top: #99e2d0 solid 5px;
  border-radius: 50%;
  position: relative;
 margin:auto;
  animation: spin 1.2s ease-in-out 1;
}

  @-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {

  .trio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }

.options{
  width:30%;
  height: 6rem;
}

.booking{
  padding:2rem;
}

.display, .flex2{
  display: flex;
  justify-content: space-around;
}
.note, .palette,.délices ,.française{
  width:40%;
  margin-bottom: 15px;
}

.restos{
  margin:0px;
}

.restos-cards{
  
  background-color:#f6f6f6;
}

.restos .restos__img {
  height: 200px;
}


.fullstack{
  display: flex;
  justify-content: space-around;
}

.footer-title{
  font-size:25px;
}

footer a{
  font-size:20px;
  }
  .boutton{
    width:20%;
    min-width: 20%;
    }